.about-page {
    display: flex;
    height: 100vh;
    width: 100vw; 
}

.about-header{
    color: white;
    font-size: 5vw;
    font-family: 'Times New Roman', Times, serif;
}


 .text-half {
    display: flex;
    flex-direction: column;
    background-color: #49755e;
    flex: 1;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3vw;

 }

 .image-half {
    display: flex;
    flex-direction: column;
    background-color: white;
    flex: 1;
    justify-content: center;
    align-items: center;
 }

 .about-image {
    max-width: 100%; 
    max-height: 100%; 
    object-fit: cover; 
 }

 .resume-button {
    background-color: #49755e; 
    color: white; 
    text-decoration: none; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5vw; 
    padding: 10px 20px; 
    border-radius: 8px; 
    margin-top: 80px; 
    transition: background-color 0.3s ease, transform 0.3s ease;  
}

.resume-button:hover {
    transform: scale(1.1); 
}
 
    
 