#home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #061736;
    background-size: cover;
    background-position: center;
    position: relative;

}

.page {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    position: relative; 
    height: 100vh; 
    text-align: center; 
    z-index: 1; 
}


h1 {
    color: white;
    font-size: 15vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.writing {
    overflow: hidden;
    width:0;
    animation: show 5s steps(80, end) infinite;
}

@keyframes show {
    from { width: 0;}
    to {width: 100%; }
}





.circle-container {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0; 
}

.circle {
    position: absolute;
    border-radius: 50%;
    opacity: 0; 
    animation: twinkle 1.5s infinite; 
}


.circle {
    width: 30px;
    height: 30px; 
}


@keyframes twinkle {
    0%, 100% {
        opacity: 0; 
    }
    40% {
        opacity: 1; 
    }
    70% {
        opacity: 0.5;
    }
}