.icon-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(4, auto); 
    justify-items: center; 
    align-items: center; 
    height: 70vh;
    width: 85vw;
    background-color: white;
    position: relative;
}

.skill-icon {
    width: 10%;
    height: auto;
    object-fit: contain;
    transition: width 0.3s ease, height 0.3s ease;
}

.skill-icon-wrapper {
    text-align: center;
    position: relative; 
}

.skill-text {
    position: absolute;
    top: 110%; 
    left: 50%;
    transform: translateX(-50%);
    font-size: 1vw;
    font-family: 'Times New Roman', Times, serif;
    color: #49755e;
    padding: 2px 6px;
    border-radius: 4px;
    opacity: 0; 
    transition: opacity 0.3s ease; 
    pointer-events: none; 
}

.skill-icon-wrapper:hover .skill-text {
    opacity: 1;
}

.skill-icon-wrapper:hover .skill-icon {
    width: 20%;
    height: auto;
}

.skills-title-box {
    position: absolute;
    top: 60%; 
    left: 20%;
    transform: translateX(-50%);
    background-color: #49755e; 
    color: white; 
    font-size: 2vw;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 6vw 12vw;
    text-align: center;
    z-index: 1;
    margin-bottom: 5px;
    
}
